.titled-pane > .content {
    -fx-background-color: #9b8976;
}

Tab, TabPane {
    -fx-background-color: #9b8976;
    -fx-focus-color: #b22635;
    -fx-faint-focus-color: #b2263445;
}

Button {
    -fx-border-color : #b22635 ;
    -fx-background-color : #ccc4b4 ;
    -fx-border-width: 2px ;
    -fx-border-radius: 15 ;
    -fx-background-radius: 15 ;
    -fx-text-fill : rgb(178, 38, 53) ;
}

Text {
    -fx-font-family: 'Consolas';
    -fx-font-size: 18;
}

menu-button, menu, menu-bar, Menu, MenuBar, MenuButton, MenuItem {
    -fx-border-color : #b22635 ;
    -fx-background-color : #b22635 ;
    -fx-pref-height: 50;
    -fx-pref-width: 200;
    -fx-alignment: CENTER;
    -fx-font-size: 15;
    -fx-border-width: 2px ;
    -fx-border-radius: 15 ;
    -fx-text-fill : rgb(178, 38, 53) ;
}

MenuButton > .label {
    -fx-text-fill : white ;
}

MenuButton .arrow-button .arrow {
    background-color : white;
    -fx-background-color: white;
}

TextField{
    -fx-background-color : #ccc4b4 ;
    -fx-prompt-text-fill: #3b3b3b;
    -fx-alignment: CENTER;
    -fx-font-size: 20;
}

CheckBox {
    -fx-padding: 7px ;
    -fx-background-color: #ccc4b4 ;
    -fx-background-radius: 15 ;
}